scipy==1.6.1
tsfresh==0.17.0
openpyxl==3.0.7
shapely==1.7.1
matplotlib==3.3.4
pyod==0.8.7
fastdtw==0.3.4
h5py==3.1.0
geoalchemy2>=0.8.4
networkx>=2.5
ipympl==0.8.2
st-clustering==0.0.1
tslearn==0.5.2
utm==0.7.0